
.personList{
    width: 50%;
    min-width: 200px;
    margin: auto;
}

.filmList{
    width: 50%;
    min-width: 200px;
    margin: auto;
}

.images{
    max-width: 40px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: 5px;
    border-radius: 90%;
}

.images-Film{
    max-width: 40px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: 5px;

}

.mainDiv{
    display: flex;
}
